body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #232526, #333536, #232526, #333536);
}

.calculator {
    background: linear-gradient(45deg, #232526, #333536, #232526, #333536);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 300px;
    font-family: Arial, sans-serif;
}

#result {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    background: linear-gradient(45deg, #232526, #333536, #232526, #333536);
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: #232526;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button:hover {
    background-color: rgb(219, 219, 219);
}

.operator {
    background-color: orange;
    color: #fff;
}

.operator:hover {
    background-color: rgb(233, 151, 0);
}

.clear {
    background-color: rgb(255, 81, 0);
    color: #fff;
}

.clear:hover {
    background-color: rgb(230, 73, 0);
}

.backspace {
    background-color:  orange;
    color: white;
}

.backspace:hover {
    background-color: rgb(233, 151, 0);
}
